.venv
venv
default_hsv_with_text.png
default_hsv.png
default_rgb_with_text.png
default_rgb.png
result.png
mask.png
__pycache__
error.log
segmentation_errors.log
output.avi
temp_video.mp4
hsv_palette.png
rgb_palette.png